<div class="div-discussionList">
    <h4>Latest Discussions</h4>
    <div class="div--discussionListBox">
        <!--add more logic here-->
        <div class="div--indivDiscussion">
            {{#each posts}}
            {{>discussionBox this}}
            {{/each}}
        </div>
        <a onclick="prevPostPage()" class="paginateButton">Prev</a>
        <a onclick="nextPostPage()" class="paginateButton">Next</a>
    </div>
</div