{{> nav_bar}}
<div class="div--mainPage-container">
    <div class="div--mainPage-dashboard">
        {{> userDashboard this}}
    </div>
    <div class="div--mainPage-feed">
        {{> askNewQuestion this}}
        {{> discussionList this}}
    </div>
</div>