{{> nav_bar }}
<div class="div-message">
    <div class="div-userPic">
        <img class="img-userPic" src="{{user.image_url}}" alt="{{user.id}}">
    </div>
    <div class="div-form-message">
        <form method="POST" action="/sendemail/{{user.id}}">
            <input class="input-subject" placeholder="subject" name="subject" type="text">
            <textarea class="textarea-messageDetails" placeholder="message details..." rows="7" type="text"
                name="message"></textarea>
            <input type="submit" class="button button--message-submit" value="Message" />
        </form>
    </div>
</div>